<h1 class="page-header">Edit Master Indent</h1>
<form [formGroup]="MasterIndentHeader">
    <div class="row f09">
        <div class="col-xs-12 col-sm-12">
            <div class="placeholder customer-header-info mt-0">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-5">
                        <h2 class="sub-header pl-10">
                            <span class="accountNumber">
                                {{MasterIndentHeader.value.billToSiteUseId.accountNumber}}</span><span>{{MasterIndentHeader.value.billToSiteUseId.partyName}}</span>
                        </h2>
                        <div class="address pl-20 mb-22"><strong>Bill To : </strong>

                            <select id="shipToSiteUseId" class="form-control" formControlName='billToSiteUseId'
                                (change)=shipToSiteUseIdDP() disabled="">
                                <option [ngValue]='billToSiteUseId'
                                    *ngFor='let  billToSiteUseId of customerDetailByAcctId'>
                                    {{billToSiteUseId.siteAddress}}</option>
                            </select>
                        </div>

                        <div class="address pl-20 mb-22">
                            <strong>Ship To : </strong>
                            <!-- <span >{{custBillingDetailsByAcctNo?.siteAddress}}</span>    -->
                            <select id="shipToSiteUseId" class="form-control" formControlName='shipToSiteUseId'
                                (change)=shipToSiteUseIdDP() disabled="">
                                <option [ngValue]='shipToSiteUseId'
                                    *ngFor='let  shipToSiteUseId of custShippingDetailsByAcctNu'>
                                    {{shipToSiteUseId.siteAddress}}</option>
                            </select>
                        </div>
                        <div class="address pl-20 mb-22">
                        </div>
                        <div class="address pl-20 mb-22"><strong> Route Inspector Name : </strong>
                            <span>
                                {{MasterIndentHeader.value.billToSiteUseId.salesRepName}}</span>
                        </div>
                        <div class="address pl-20 mb-22" *ngIf='masterIndentUp.errorMsg!=null'><strong> Error Message:
                            </strong>
                            <span>
                                <input disabled name='sequence' id='sequence' value="{{masterIndentUp.errorMsg}}"
                                    type="text" class="form-control input-sm" />
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h2 class="sub-header">Schedule Period</h2>
                        <div class="form-group">
                            <label>Start Date</label>
                            <input type="text" placeholder="Start Date" class="form-control date-field"
                                formControlName='startDate' bsDatepicker 
                                value="{{ startDate | date:'dd-MMM-yyyy' }}"disabled=''
                               >
                        </div>
                        <div class="form-group">
                            <label>End Date</label>
                            <input type="text" placeholder="Start Date" class="form-control date-field" bsDatepicker
                                formControlName='endDate' [minDate]='minDate'
                                (ngModelChange)="endDateval($event);"
                                [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                value="{{ endDate | date:'dd-MMM-yyyy' }}"
                              >
                        </div>
                        <div class="form-group">
                            <label>Shift</label>
                            <select id="orderType" class="form-control" formControlName='shiftId' (change)=shiftDP()
                                disabled=""
                                [ngClass]="{ 'is-invalid': submitted &&  MasterIndentHeader.get('shiftId').errors}">
                                <option [ngValue]="null">Select Shift</option>
                                <option *ngFor='let  orders of shift' value="{{orders.shiftId}}">
                                    {{orders.shiftName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>OrderType</label>
                            <select (change)="setOrderTypeId($event)" formControlName="orderTypeId"
                                class="form-control input-sm">
                                <option *ngFor="let orders of orderTypeDetailsList" value="{{orders.orderTypeId}}">
                                    {{orders.orderTypeName}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 pr-40">
                        <h2 class="sub-header">Status</h2>
                        <div class="form-group">
                            <label>Order No.</label>
                            <input type="text" class="form-control" value="{{masterIndentUp.mstHdrId}}"
                                placeholder="Order No" disabled="">
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" (change)="onChange($event.target.value)"
                                formControlName="status">
                                <option *ngFor="let Status of masterIndentStatusList" value="{{Status.value}}">
                                    {{Status.value}}
                                </option>
                            </select>
      
                        </div>
                        <div class="form-group">
                            <label>Balance</label>
                            <input type="text" class="form-control" placeholder="Balance" disabled=""
                                value="{{balaceNo?.balance}}">
                        </div>
                        <div class="form-group">
                            <label>Route No</label>
                            <select (click)="setSequenceNumber($event.target.value)" formControlName="route"
                                class="form-control input-sm">
                                <option *ngFor="let route of routeList" value="{{route.routeNumber}}">
                                    {{route.routeNumber}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Seq</label>
                            <input disabled name='sequence' id='sequence' value="{{sequence}}" type="text"
                                class="form-control input-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row f09 z-index-1">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="placeholder pl-20 pt-10 pb-10">
            <div class="flex">
                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                    (change)="checkUncheckAll()" />
                <strong>{{selectLabel}}</strong>
                <ul class='list-inline mr-0 flex schduleweek'>
                    <li *ngFor="let item of checklist">
                        <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
                            (change)="isAllSelected()" /> {{item.value}}
                    </li>
                </ul>
            </div>
            <div *ngIf="this.checkedList.length==0" style="    text-align: center;
      color: red;">At Least One Schedule day is Mandatory</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12  col-sm-12">
        <div class="placeholder">
            <form [formGroup]="MasterIndentLineItem" #f="ngForm" novalidate (ngSubmit)="submit(f)">
                <div>
                    <table class="table" formArrayName="mstrIndLItm">
                        <thead>
                            <tr>
                                <th class='col-md-1'>Sr. No.</th>
                                <th class='col-md-2'>Category</th>
                                <th class='col-md-5'>Item Code & Description</th>
                                <th class='col-md-2'>Crates</th>
                                <th class='col-md-2'>Packets</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let field  of  MasterIndentLineItem.controls.mstrIndLItm.controls ; 
              let in=index" [formGroupName]="in">
                                <td class='m2 text-center lh-30 counter'><span>{{in+1}}</span></td>
                                <td data-title='Category' class="m10">
                                    <select
                                        (change)="getItemsByPriceListIdAndCategory($event.target.value,in,MasterIndentLineItem.controls.mstrIndLItm.controls,field)"
                                        class="form-control" name=''
                                        [attr.disabled]="field.value.disabled ? 'disabled' : null"
                                        formControlName='category'
                                        [ngClass]="{ 'is-invalid': submitted && field.controls.category.errors}">
                                        <option value="">Select Category</option>
                                        <option [value]="category" *ngFor="let category of allCatgeries">
                                            {{category}}</option>
                                    </select>
                                </td>
                                <td data-title='Item Code & Description' class="m12">
                                    <select class="form-control"
                                        [attr.disabled]="field.value.disabled ? 'disabled' : null"
                                        formControlName='itemDesc'
                                        [ngClass]="{ 'is-invalid':submitted && field.controls.itemDesc.errors}"
                                        type="text" (change)='itemCode(in,field)' name="dp">
                                        <option value="">Select Item Code & Description</option>
                                        <option [ngValue]="dp" *ngFor="let dp of field.value.dp">
                                            {{ dp.itemCode}}-{{ dp && dp.description? dp.description: dp.itemDesc}}
                                        </option>
                                    </select>

                                </td>
                                <td data-title='Crates' class="m4">
                                    <input placeholder="Crates"
                                        (focusout)="checkValidation($event.target.value,in,field)" class="form-control"
                                        formControlName='crt' type="text" m autocomplete="off" name="name " required
                                        (keypress)="numberOnly($event)" maxlength="4"
                                        [ngClass]="{ 'is-invalid': submitted && field.controls.crt.errors  }" />
                                </td>
                                <td data-title='Packets' class="m4">
                                    <input placeholder="Packets"
                                        (focusout)="checkValidation($event.target.value,in,field)" class="form-control"
                                        formControlName='packets' type="text" maxlength="4" autocomplete="off"
                                        name="name" (keypress)="numberOnly($event)"
                                        [ngClass]="{ 'is-invalid':submitted && field.controls.packets.errors}" />

                                </td>
                                <td class="m4 del-icon">
                                    <i (click)="openModal(DeleteConfirm,in,field)" class="fa fa-trash"
                                        aria-hidden="true"></i>
                                    <ng-template #DeleteConfirm>
                                        <div class="modal-body text-center">
                                            <h4>Do you want to confirm Delete?</h4>
                                            <br />
                                            <div class="clearfix">
                                                <button type="button" class="btn btn-primary pull-left"
                                                    (click)="confirm(in,field)">Yes</button>
                                                <button type="button" class="btn btn-default pull-right"
                                                    (click)="decline()">No</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <!-- <button (click)='deleteRow(in)' class="btn-sm btn-danger no-border" type="button">Delete</button> -->
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button (click)='addNewRow(in)' [disabled]="addMore||MasterIndentLineItem.invalid" type="button"
                            class="btn btn-bamul mr-10 pull-right">Add New Item</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button [disabled]="addMore" type="submit" class="btn btn-bamul mr-10 pull-left">Save &
                            Confirm</button>
                        <!-- <button (click)='cancel()' type="button"
                            class="btn btn-secondary mr-10 pull-left">Cancel</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse">
    <p style="color: white"> Loading... </p>
</ngx-spinner>