<accordion class="dashboard-sidebar" [closeOthers]="true" isAnimated="true">
    <accordion-group heading="BMC Milk Collection" class="milk-collection btn-icon">
        <ul>
            <li>
                <a routerLink="milk-receive/bmccollection" routerLinkActive="active">
                    <fa name="cog"></fa> create Dispatch
                </a>
            </li>
            <li>
                <a routerLink="milk-receive/list-dispatch" routerLinkActive="active">
                    <fa name="cog"></fa> List Dispatch
                </a>
            </li>
        </ul>
    </accordion-group>
</accordion>