<h1 class="page-header">Weighment Entry</h1>
<div class="row">
  <div class="col-xs-7 pr-10">
    <!-- <div class="shift text-center">
      <span>Shift</span>
      <strong>Morning</strong>
    </div> -->
    <div class="placeholder mt-0 pd-10">
      <address>
        <span><strong>Location : </strong>Anekal Co-Operative Soc.</span>
        <p><strong>
          Address :</strong> 8-2-341/A, Prasanth Nagar, Bengalore 500987
        </p>
      </address>
    </div>
  </div>
  <div class="col-xs-3 pl-0">
    <div class="placeholder clearfix mt-0 pd-0">
      <div class="form-group mr-0 pl-10 pt-10 pr-10 pb-5">
        <label>From Source</label>
        <select class="form-control input-sm" disabled>
          <option>Select</option>
          <option selected>Anekal Chilling Center</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-xs-2 pl-0">
    <div class="placeholder mt-0 pd-10">
      <address>
        <p>
          <span>Date : <strong>
              <app-date></app-date>
            </strong></span>
        </p>
        <p><span>Time : </span><strong>
            <app-clock></app-clock>
          </strong></p>
      </address>
    </div>
  </div>
</div>





<div class='row'>
 <div class="col-md-12">
   <div class="placeholder clearfix mt-10">
     <div class="form-row mt-10">
        <form [formGroup]="challanDetailsForm">
            <div class="form-group col-md-3">
                <label>Request Type</label>
                <input formControlName='requestType' type="text" class="form-control input-bl" placeholder="Vehicle Number">
              </div>
              <div class="form-group col-md-3">
                <label>Challan Number</label>
                <input formControlName='challanNumber' type="text" class="form-control input-bl" placeholder="Challan Number">
              </div>
              <div class="form-group col-md-2">
                <label>Date</label>
                <input formControlName='date' type="text" class="form-control input-bl date-field" placeholder="Date">
              </div>
              <div class="form-group col-md-2">
                <label>Shift</label>
                <input formControlName='shift' type="text" class="form-control input-bl" placeholder="Shift">
              </div>
              <div class="form-group col-md-2">
                <label>Status</label>
                <input formControlName='status' type="text" class="form-control input-bl" placeholder="Status">
              </div>
        </form>
     </div>
   </div>
 </div>
</div>

<div class='row'>
 <div class="col-md-12">
   <div class="placeholder clearfix mt-10">
     <form [formGroup]="RouteDetailForm">
       <div class="option-group">
         <div class="form-check form-check-inline">
           <input (change)="routeRegister($event.target.value)" formControlName='registered' class="form-check-input" type="radio" value="register">
           <label class="form-check-label" for="inlineRadio1">Registered</label>
         </div>
         <div class="form-check form-check-inline">
           <input (change)="routeRegister($event.target.value)" formControlName='registered' class="form-check-input" type="radio" value="unregistered">
           <label class="form-check-label" for="inlineRadio2">Unregistered</label>
         </div>
       </div>
       <div class="form-row mt-10">
         <div class="form-group col-md-2">
           <label>Route No.</label>
           <input [ngClass]="{ 'is-invalid':f.routeNumber.errors && (f.routeNumber.touched ||submited)}" formControlName='routeNumber' (keyup)="getRouteDetailsByRouteNumber($event.target.value)" type="text"
             class="form-control input-bl" placeholder="Route Number">
         </div>
         <div class="form-group col-md-2">
           <label>Vehicle Number</label>
           <input [ngClass]="{ 'is-invalid':f.vehicleNumber.errors && (f.vehicleNumber.touched || submited)}" formControlName='vehicleNumber' type="text" class="form-control input-bl" placeholder="Vehicle Number">
         </div>
         <div class="form-group col-md-2">
           <label>Vehicle Type</label>
           <input [ngClass]="{ 'is-invalid':f.vehicleType.errors && (f.vehicleType.touched || submited)}" formControlName='vehicleType' type="text" class="form-control input-bl" placeholder="Type">
         </div>
         <div class="form-group col-md-2">
           <label>Capacity KG's</label>
           <input [ngClass]="{ 'is-invalid':f.capacityKg.errors && (f.capacityKg.touched || submited)}" formControlName='capacityKg' type="number" class="form-control input-bl" placeholder="Kg's">
         </div>
         <div class="form-group col-md-2">
           <label>Driver</label>
           <input [ngClass]="{ 'is-invalid':f.driverName.errors && (f.driverName.touched || submited)}" formControlName='driverName' type="text" class="form-control input-bl" placeholder="Driver name">
         </div>
         <div class="form-group col-md-2">
           <label>Transporter</label>
           <input [ngClass]="{ 'is-invalid':f.transporter.errors && (f.transporter.touched || submited)}" formControlName='transporter' type="text" class="form-control input-bl" placeholder="Transporter">
         </div>
       </div>
     </form>
   </div>
 </div>
</div>


<div class='row'>
 <div class="col-md-12">
   <div class="placeholder clearfix mt-10">
     <div class="option-group">
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" (change)="changeWeightMode()" [(ngModel)]="weightMode" id="inlineRadio1" value="auto">
         <label class="form-check-label" for="inlineRadio1">Auto</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" (change)="changeWeightMode()" [(ngModel)]="weightMode" id="inlineRadio2" value="manual">
         <label class="form-check-label" for="inlineRadio2">Manual</label>
       </div>
     </div>
     <div class="form-row mt-10">
       <div class="form-group wb-com col-md-4">
         <input type="text" [(ngModel)]="totalWeight" class="form-control input-bl" value="4585">
       </div>
       <!-- <div class="form-group col-md-4 col-md-offset-2">
          <label>Manual Weight</label>
          <input type="text" class="form-control input-bl" placeholder="Vehicle Number">
        </div> -->

     </div>
   </div>
 </div>
</div>



<div class="row">
 <div class="col-md-8">
   <div class="placeholder pd-10 mt-10">
      <form [formGroup]="loadDetailsForm">
          <table class="table inwards">
              <thead class="v-center">
                <tr>
                  <th>Load Details</th>
                  <th>Qty In Kg</th>
                  <th class="text-center">
                    <div class="option-group">
                      <div class="form-check form-check-inline">
                        <input formControlName='leftOrRight' class="form-check-input" type="radio" value="left">
                        <label class="form-check-label" for="inlineRadio1">Left</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input formControlName='leftOrRight' class="form-check-input" type="radio" value="right">
                        <label class="form-check-label" for="inlineRadio2">Right</label>
                      </div>
                    </div>
                  </th>
                  <th class="text-center">Date & Time</th>
                </tr>
       
              </thead>
              <tbody>
                <tr>
                <td>
                    <strong>Gross Weight</strong>
                  </td>
                  <td> <input (keyup)="calculateNetWeight()" [ngClass]="{ 'is-invalid':lf.grossWeight.errors && (lf.grossWeight.touched || submited)}" formControlName='grossWeight' type="text" class="form-control input-bl" value="9897" /></td>
                  <td class="text-center">
                    <button [disabled]="isGetWeightDisable" (click)="getGrossWeight(ConfirmGross)" class="btn btn-primary btn-sm ">Get Weight</button>
                  </td>
                  <td>
                    <input formControlName='grossWeightDate' type="text" class="form-control input-bl" value="20/02/2020 10:23:12 AM" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>TAR Weight</strong>
                  </td>
                  <td>
                    <input (keyup)="calculateNetWeight()" [ngClass]="{ 'is-invalid' : (isGrossWeightCorrect==false) && lf.tarWeight.touched}" formControlName='tarWeight' type="text" class="form-control input-bl" value="45678" />
                  </td>
                  <td class="text-center">
                    <button [disabled]="isGetWeightDisable" (click)="getTarWeight(ConfirmTar)" class="btn btn-primary  btn-sm ">Get Weight</button>
                  </td>
                  <td>
                    <input formControlName='tarWeightDate' type="text" class="form-control input-bl" value="20/02/2020 09:23:12 AM" />
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th> <strong>Net Weight</strong></th>
                  <th><input [ngClass]="{ 'is-invalid':lf.netWeight.errors && (lf.netWeight.touched || submited)}" formControlName='netWeight' type="text" class="form-control input-bl" value="35780" /></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
            <ng-template #ConfirmGross>
                <div class="modal-body text-center">
                  <h5>Do you want to calculate Gross weight?</h5>
                  <br />
                  <div class="clearfix">
                    <button type="button" class="btn btn-secondary pull-right cancel-btn  ml-10"
                      (click)="decline()">No</button>
                    <button type="button" class="btn btn-bamul pull-right"
                      (click)="confirm(in,field,'tarWeight')">Yes</button>
                  </div>
                </div>
              </ng-template>
              <ng-template #ConfirmTar>
                  <div class="modal-body text-center">
                    <h5>Do you want to calculate Tar weight?</h5>
                    <br />
                    <div class="clearfix">
                      <button type="button" class="btn btn-secondary pull-right cancel-btn  ml-10"
                        (click)="decline()">No</button>
                      <button type="button" class="btn btn-bamul pull-right"
                        (click)="confirmTar(in,field,'tarWeight')">Yes</button>
                    </div>
                  </div>
                </ng-template>
      </form>
   </div>
 </div>
 <div class="col-md-4 pl-0">
   <div class="placeholder pd-10 mt-10">
      <form [formGroup]="sealNumberDetailsForm">
          <table class="table seal_co">
              <thead class="v-center">
                <tr>
                  <th colspan="2">Seal Number Details
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="slf.compOne.value" [ngClass]="{ 'bg-danger':compOneSeal==false}" class="bg-success">
                  <td>
                    <strong>COMP 1</strong>
                  </td>
                  <td> <input [ngClass]="{ 'is-invalid':slf.compOne.errors && (slf.compOne.touched || submited)}" formControlName='compOne' type="text" class="form-control input-bl" placeholder="seal number" /></td>
                </tr>
                <tr *ngIf="slf.compTwo.value" [ngClass]="{ 'bg-danger':compTwoSeal==false}" class="bg-success">
                  <td>
                    <strong>COMP 2</strong>
                  </td>
                  <td>
                     <input [ngClass]="{ 'is-invalid':slf.compTwo.errors && (slf.compTwo.touched || submited)}" formControlName='compTwo' type="text" class="form-control input-bl" placeholder="seal number" /></td>
                </tr>
                <tr *ngIf="slf.compThree.value" [ngClass]="{ 'bg-danger':compThreeSeal==false}" class="bg-success">
                  <td>
                    <strong>COMP 3</strong>
                  </td>
                  <td> <input [ngClass]="{ 'is-invalid':slf.compThree.errors && (slf.compThree.touched || submited)}" formControlName='compThree' type="text" class="form-control input-bl" placeholder="seal number" /></td>
                </tr>
                <tr *ngIf="slf.back.value" [ngClass]="{ 'bg-danger':backSeal==false}" class="bg-success">
                  <td>
                    <strong>Back</strong>
                  </td>
                  <td> <input [ngClass]="{ 'is-invalid':slf.back.errors && (slf.back.touched || submited)}" formControlName='back' type="text" class="form-control input-bl" placeholder="seal number" /></td>
                </tr>
              </tbody>
            </table>
      </form>
   </div>
 </div>
</div>
<div class='row'>
 <div class="col-md-12">
   <div class="placeholder clearfix mt-10">
     <div class="form-row mt-10">
       <div class="form-group col-md-12">
         <label>Remarks</label>
         <textarea [(ngModel)]="remark" class="form-control input-bl" placeholder="remarks"></textarea>
       </div>
     </div>
   </div>
 </div>
</div>
<div class="clearfix mt-10">
 <button type="button" class="btn btn-secondary pull-left">Cancel</button>
 <button type="button" (click)="submit()" class="btn btn-bamul pull-right">Submit</button>
</div>