 <h1 class="page-header">Dashboard</h1>

 <div class="row">
   <div class="col-xs-6 col-sm-2  pr-0">
     <div class="cards bg-info">
       <h5 class="card-title">Today Indent</h5>
       <span class="card-value">3</span>
     </div>
   </div>
   <div class="col-xs-6 col-sm-2 pr-0 pl-10">
     <div class="cards">
       <h5 class="card-title">Total Route</h5>
       <span class="card-value">21</span>
     </div>
   </div>
   <div class="col-xs-6 col-sm-2 pr-0 pl-10">
     <div class="cards">
       <h5 class="card-title">Route Point</h5>
       <span class="card-value">240</span>
     </div>
   </div>
   <div class="col-xs-6 col-sm-2 pr-0 pl-10">
     <div class="cards">
       <h5 class="card-title">Vehicles</h5>
       <span class="card-value">46</span>
     </div>
   </div>
   <div class="col-xs-6 col-sm-2 pr-0 pl-10">
     <div class="cards">
       <h5 class="card-title">Drivers</h5>
       <span class="card-value">62</span>
     </div>
   </div>
   <div class="col-xs-6 col-sm-2 pl-10">
     <div class="cards">
       <h5 class="card-title">Indents Cost</h5>
       <span class="card-value">
         <i class="fa fa-inr" aria-hidden="true"></i> 12,000
       </span>
     </div>
   </div>
 </div>


 <div class="row">
   <div class="col-xs-12 col-sm-12">
     <div class="placeholder mt-10">
       <h2 class="sub-header">Today Transport Indent</h2>
       <div class="table-responsive">
         <table class="table">
           <thead>
             <tr>
               <th>Sr. No.</th>
               <th>T.ID</th>
               <th>Route</th>
               <th>Start Point</th>
               <th>End Point</th>
               <th>Total KM</th>
               <th>Total Cost</th>
               <th>Vehicle</th>
               <th>Driver</th>
               <th>Status</th>
               <th>Action</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>1</td>
               <td>45832</td>
               <td>Kannamangala Doddi MPCS</td>
               <td>30</td>
               <td>28</td>
               <td>27</td>
               <td>1</td>
               <td>1180</td>
               <td>4.5%</td>
               <td>2.1%</td>
               <td>Completed</td>
             </tr>
             <tr>
               <td>2</td>
               <td>45832</td>
               <td>Kannamangala Doddi MPCS</td>
               <td>30</td>
               <td>28</td>
               <td>27</td>
               <td>1</td>
               <td>1180</td>
               <td></td>
               <td></td>
               <td>In Lab</td>
             </tr>
             <tr>
               <td>3</td>
               <td>45832</td>
               <td>Kannamangala Doddi MPCS</td>
               <td>30</td>
               <td>28</td>
               <td>27</td>
               <td>1</td>
               <td>1180</td>
               <td>4.5%</td>
               <td>2.1%</td>
               <td>Completed</td>
             </tr>
             <tr>
               <td>4</td>
               <td>45832</td>
               <td>Kannamangala Doddi MPCS</td>
               <td>30</td>
               <td>28</td>
               <td>27</td>
               <td>1</td>
               <td>1180</td>
               <td>4.5%</td>
               <td>2.1%</td>
               <td>Completed</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </div>
 <div class="row hidden">
   <div class="col-xs-12 col-sm-12">
     <div class="placeholder">
       <h2 class="sub-header">Today Purchase Orders</h2>
       <div class="table-responsive">
         <table class="table">
           <thead>
             <tr>
               <th>Sr. No.</th>
               <th>#Order No.</th>
               <th>Start Date</th>
               <th>End Date</th>
               <th>Total Order Value</th>
               <th>Received Value</th>
               <th>Remaining Value</th>
               <th>Status</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>1</td>
               <td>45832</td>
               <td>12/05/2019</td>
               <td>25/05/2019</td>
               <td>12000</td>
               <td>4000</td>
               <td>8000</td>
               <td><span class="text-success"><strong>Running</strong></span></td>
             </tr>
             <tr>
               <td>2</td>
               <td>45832</td>
               <td>12/05/2019</td>
               <td>25/05/2019</td>
               <td>12000</td>
               <td>4000</td>
               <td>8000</td>
               <td><span class="success">Running</span></td>
             </tr>
             <tr>
               <td>3</td>
               <td>45832</td>
               <td>12/05/2019</td>
               <td>25/05/2019</td>
               <td>12000</td>
               <td>4000</td>
               <td>8000</td>
               <td><span class="text-warning"><strong>Delayed</strong></span></td>
             </tr>
             <tr>
               <td>4</td>
               <td>45832</td>
               <td>12/05/2019</td>
               <td>25/05/2019</td>
               <td>12000</td>
               <td>4000</td>
               <td>8000</td>
               <td><span class="success">Running</span></td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </div>
