<h1 class="page-header">List Routes</h1>
<div class="row">
    <div class="col-md-12">
        <div class="placeholder clearfix mt-0">
            <div class="form-row mt-10">
                <div class="form-group col-md-3">
                    <label>Search</label>
                    <input type="text" (keyup)="globalSearch($event.target.value)" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix mt-10"></div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="placeholder pt-20 mt-0">
            <h2 class="sub-header hidden">Reports</h2>
            <div class="table-responsive" *ngIf="routeLst">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Route No</th>
                            <th>Type</th>
                            <th>Scheduled Date</th>

                            <th>Route Shift</th>
                            <th>Status</th>
                            <th>Trip Points</th>
                            <th class='text-center'>Edit</th>
                            <!-- <th class='text-center'>View Detail</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let i of routeLst.tripDetails | paginate: { itemsPerPage: 10, currentPage: p , totalItems: routeLst?.totalRecords} let in =index'>
                            <td>{{in+1}}</td>
                            <td>{{i.routeNumber}}</td>
                            <td>{{i.routeType}}</td>
                            <td>{{i.scheduleDate}}</td>
                            <td>{{i.routeShift}}</td>
                            <td>{{i.routeStatus}}</td>
                            <td><a *ngIf="i.tripPoints.length===0" routerLink="/transport/route/assign-trip-point/{{i.tripTransactionId}}" routerLinkActive="active"><strong><i class='fa fa-search-plus'></i>
                     Add Trip Point</strong></a>
                                <a *ngIf="i.tripPoints.length>0" routerLink="/transport/route/assign-trip-point/{{i.tripTransactionId}}" routerLinkActive="active"><strong><i class='fa fa-search-plus'></i>
                        Update Trip Point</strong></a>
                            </td>
                            <td class='text-center'>
                                <a routerLink="/transport/route/update-trip/{{i.tripTransactionId}}" routerLinkActive="active"><strong><i class='fa fa-search-plus'></i>
                     Edit</strong></a>
                            </td>
                            <!-- <td class='text-center'><i class="fa fa-search-plus" aria-hidden="true"></i> View More</td> -->
                        </tr>
                        <tr *ngIf="routeLst.tripDetails.length==0">
                            <td class="text-center" colspan="9">No Record Found</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pagechange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>


<ngx-spinner size="medium" type="ball-clip-rotate-pulse">
    <p style="color: white"> Loading... </p>
</ngx-spinner>