.cards {
  background: #fff;
  padding: 20px 10px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #e2e2e2;
  border-radius: 4px;
}

h5.card-title {
  font-size: 14px;
  color: #a1a1a1;
  margin: 0;
}

span.card-value {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-top: 20px;
}

.placeholder {
  background: #fff;
  margin-top: 20px;
  box-shadow: 0 0 5px #e2e2e2;
  border-radius: 4px;
}

h2.sub-header {
  font-size: 18px;
  padding: 20px 0 20px 20px;
  margin: 0;
}

.table-responsive {
  padding: 0px 20px;
}


thead {
  background: #f0f0f7a8;
  border: 0;
}

thead th {
  border: 0 !important;
  color: #a1a1a1;
}

table.table {
  font-size: 12px;
}

.cards.bg-info {
  background: #1ba802 !important
}

.cards.bg-info .card-title,
.cards.bg-info .card-value {
  color: #fff !important;
}

.pr-0 {
  padding-right: 0
}

.pl-10 {
  padding-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.pr-15 {
  padding-right: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-0 {
  padding-left: 0
}

.mt-0 {
  margin-top: 0;
}

address,
address p {
  line-height: 25px !important;
  margin-bottom: 0;
}
