<h1 class="page-header">New Visitor</h1>
<!-- <div class="row d-flex-align-center">
  <div class="col-xs-8 pr-10 d-flex">
    <div class="placeholder mt-0 pd-10 d-flex-align-center flex1-space">
      <address>
        <span>Location <br /><strong>Annkel Chilling Center</strong></span>
      </address>
      <div class="shift text-center">
        <span>Shift</span>
        <strong>Morning</strong>
      </div>
    </div>
  </div>
  <div class="col-xs-2 pl-0">
    <div class="placeholder mt-0 pd-10">
      <div class="form-group mb-0">
        <label>GatePass Type</label>
        <select class="form-control">
          <option value="1">Visitor</option>
          <option value="2">Employee</option>
          <option value="3">Services</option>
        </select>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="placeholder mt-10 clearfix">
      <div class="form-row mt-10">

        <div class="form-group col-md-4">
          <label>Visitor Name</label>
          <input type="text" class="form-control input-bl" value="Vedalam Kanna" readonly>
        </div>

        <div class="form-group col-md-2">
          <label>Vehicle Number</label>
          <input type="text" class="form-control input-bl" value="KA11-TA-0876" readonly>
        </div>
        <div class="form-group col-md-2">
          <label>Status</label>
          <select class="form-control">
            <option value="1">IN</option>
            <option value="2">OUT</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form>

      <div class="placeholder pd-10 mt-10">

        <table class="table inwards">
          <thead class="v-center">
            <tr>
              <th width="120px">Sr.No.</th>
              <th width="60%">Item Description</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Returnable</th>
            </tr>
            <tr class="sub-head">
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="number" class='form-control input-bl' value="1" disabled></td>
              <td><input type="text" class='form-control input-bl' value="Laptop 2 HP" disabled></td>
              <td>
                <input type="text" class='form-control input-bl' value="2 Pcs" disabled>
              </td>
              <td>
                <select class="form-control">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><input type="number" class='form-control input-bl' value="2" disabled></td>
              <td><input type="text" class='form-control input-bl' value="Laptop 2 HP" disabled></td>
              <td>
                <input type="text" class='form-control input-bl' value="2 Pcs" disabled>
              </td>
              <td>
                <select class="form-control">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><input type="number" class='form-control input-bl' value="3" disabled></td>
              <td><input type="text" class='form-control input-bl' value="Laptop 2 HP" disabled></td>
              <td>
                <input type="text" class='form-control input-bl' value="2 Pcs" disabled>
              </td>
              <td>
                <select class="form-control">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </td>
            </tr>
          </tbody>

        </table>
        <div class="mt-10 clearfix">
          <button class="btn btn-bamul pull-right mb-10" (click)="addNewRow()">Add More</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="placeholder pd-10 mt-10">
            <label>Remarks</label>
            <textarea class="form-control input-bl" placeholder="Remarks"></textarea>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>
<div class="clearfix mt-10">
  <button type="button" class="btn btn-secondary pull-left cancel-button">Cancel</button>
  <button type="button" (click)="nextCollectionData(f)" class="btn btn-bamul pull-right">Save & Next</button>
  <button type="button" (click)="postCollectionData(f)" class="btn btn-bamul pull-right mr-10">Save</button>
</div> -->
