address,
address p {
  line-height: 25px !important;
  margin-bottom: 0;
}

table {
  table-layout: fixed;
  border: 1px solid #ccc;
  margin-bottom: 0px;
}


th {
  border: 0 !important;
  vertical-align: middle !important;
  border-right: 1px solid #ccc !important;
}

td {
  /* border-right: 1px solid #ccc !important; */
  vertical-align: middle !important;
}

tr>th:last-child,
tr>td:last-child {
  border-right: 0 !important;
}

tr.sub-head th {
  background: #f3f3f8;
}

.stime {
  width: 150px;
}

.cans {
  width: 80px;
}

.route-no {
  width: 60px;
}

.cans {
  width: 80px !important;
}

.actions {
  width: 240px;
}

.pl-0 {
  padding-left: 0;
}

.pr-10 {
  padding-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-0 {
  margin-left: 0px !important;
}

.w-100 {
  width: 100% !important;
}

h4.bg-info {
  margin-top: 0px;
  border-radius: 4px 4px 0 0;
  background: #0099de !important;
  color: #fff;
  margin-bottom: 20px;
}

tabset {
  margin-top: 10px !important;
  display: table;
  width: 100%;
}

tabset tab .placeholder {
  min-height: 70px;
}

/* 
.inward-actions>.btn-primary {
  position: absolute;
  left: 21px;
  top: 7px;
}

.inward-actions {
  position: relative;
}

.inward-actions>.btn-warning {
  position: absolute;
  left: 91px;
  top: 7px;
} 

.inward-actions>.btn-danger {
  position: absolute;
  left: 166px;
  top: 7px;
}

*/
.flex.schduleweek {
  display: flex;
  align-items: center;
}

.flex.schduleweek>li {
  display: flex;
  align-items: center;
  align-content: center;
  padding-right: 15px;
}

.flex.schduleweek input[type='checkbox'] {
  margin-top: 0px;
  margin-right: 5px;
}


.schduleweek input[type="checkbox"]:checked,
.schduleweek input[type="checkbox"]:checked+label {
  background: #0099de;
  color: #fff;
  border-radius: 4px;
}

.schduleweek label {
  margin-left: -24px;
  padding: 5px 15px 5px 23px;
  z-index: 2;
  position: relative;
  top: 2px;
  font-weight: normal;
  cursor: pointer;
}

.mr-15 {
  margin: 15px
}

.schduleweek input[type='checkbox'] {
  position: relative;
  z-index: 3;
}

.is-invalid {
  border-color: #ff00007a;
  box-shadow: 0 0 3px #ff00007a;
  background: #ff00000d;
}


.bg-bamul {
  background: #018cca !important;
  color: #fff;
}

address,
address p {
  line-height: 25px !important;
  margin-bottom: 0;
}

table {
  table-layout: fixed;
  border: 1px solid #ccc;
  margin-bottom: 0px;
}


.pt-10 {
  padding-top: 10px;
}

.pl-10 {
  padding-left: 10px;
}

th {
  border: 0 !important;
  vertical-align: middle !important;
  border-right: 1px solid #ccc !important;
}

td {
  /* border-right: 1px solid #ccc !important; */
  vertical-align: middle !important;
}

tr>th:last-child,
tr>td:last-child {
  border-right: 0 !important;
}

tr.sub-head th {
  background: #f3f3f8;
}

.stime {
  width: 150px;
}

.cans {
  width: 80px;
}

.route-no {
  width: 60px;
}

.cans {
  width: 80px !important;
}

.actions {
  width: 240px;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-10 {
  padding-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}


.shift {
  position: relative;
  top: 23px;
  /* left: -13px; */
  right: 10px;
  color: whitesmoke;
}

tfoot {
  border-top: 1px solid #ccc;
  background: #f0f0f7;
  text-align: right;
}

.text-normal {
  font-weight: normal;
  color: #555;
}

tfoot th {
  text-align: right;
  padding-right: 10px !important;
}

tfoot th strong {
  /* font-size: 22px; */
  display: inline-flex;
  position: relative;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

button.accept-weight {
  background: #FF5722;
  color: #fff;
  position: absolute;
  font-size: 28px;
  top: 0;
  right: 0;
  height: 100%;
  border: 0;
  border-radius: 0 3px 0 0;
  padding: 0px 15px;
  line-height: 100%;
}

button.accept-weight:hover,
button.accept-weight:focus,
button.accept-weight:active {
  background: #e24b1b;
  outline: none;
}

.bg-bamul {
  background: #018cca !important;
  color: #fff;
}

.relative {
  position: relative;
}

label.weight-bowl {
  display: block;
  font-size: 24px;
  margin: 0;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}

.pr-0 {
  padding-right: 0px;
}

.pd-15 {
  padding: 15px 10px;
}

/* 
.inward-actions>.btn-primary {
  position: absolute;
  left: 21px;
  top: 7px;
}

.inward-actions {
  position: relative;
}

.inward-actions>.btn-warning {
  position: absolute;
  left: 91px;
  top: 7px;
} 

.inward-actions>.btn-danger {
  position: absolute;
  left: 166px;
  top: 7px;
}

*/
.flex.schduleweek {
  display: -webkit-box;
  /* display: flex; */
  /* -webkit-box-align: center;
  align-items: center; */
}

.list-inline {
  /* padding-left: 128px; */
  list-style: none;
  margin-left: -5px;
}


.mt-10 {
  margin-top: 10px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.pr-0 {
  padding-right: 0;
}

.cards.bg-info {
  background: #018cca !important;
}

.cards {
  background: #fff;
  padding: 1px 5px;
  min-height: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  box-shadow: 0 0 5px #e2e2e2;
  border-radius: 4px;
}

.bg-info {
  background-color: #d9edf7;
}

.mr-3 {
  margin-right: 3px;
}

.clear {
  clear: both;
}
span.info-danger {
  color: red;
}