<div class='complete-wrapper'>
  <div class="sidenav">
    <img class='brand' src='./assets/img/brand.png' />
    <img class='family hidden' src='./assets/img/family1.png' />
    <img class="brang-img" src='./assets/img/footer.png' />
  </div>
  <div class="main">
    <div class="col-md-12 col-sm-12">
      <div class="login-form">
        <div class="logo"><img src='./assets/img/logo.png' class='brand-logo' />
        </div>
        <div class="welcome_msg"></div>
        <form [formGroup]="AppUser" *ngIf="stepOne && !stepTwo">
          <div class="form-group">
            <!-- <label>User Name</label> -->
            <input type="text" class="form-control" placeholder="User Name" formControlName='userName'
              [ngClass]="{ 'is-invalid': (userVerify || AppUser.get('userName').touched) && f.userName.errors }">
            <div *ngIf="userVerify &&  AppUser.get('userName').error|| userVerify &&  AppUser.get('userName').touched"
              class="invalid-feedback">
              <div *ngIf=" userVerify &&  AppUser.get('userName').touched">user name is required</div>
            </div>
          </div>
          <button routerLink='/cs-portal' class="btn btn-bamul float-left" type="submit"
            (click)="doUserVerification($event.target.value)">Verify</button>
        </form>
        <form [formGroup]="otpForm" *ngIf="!stepOne && stepTwo">
          <div class="form-group">
            <!-- <label>User Name</label> -->
            <input type="text" class="form-control" placeholder="Otp" formControlName='otp'
              [ngClass]="{ 'is-invalid': (otpVerify || otpForm.get('otp').touched) && o.otp.errors }">
            <div *ngIf="otpVerify &&  otpForm.get('otp').error|| otpVerify &&  otpForm.get('otp').touched"
              class="invalid-feedback">
              <div *ngIf=" otpVerify &&  otpForm.get('otp').touched">Otp is required</div>
            </div>
          </div>
          <button routerLink='/cs-portal' class="btn btn-bamul float-left" type="submit"
            (click)="ValidateOtp($event.target.value)">Verify</button>
        </form>
        <form [formGroup]="changePasswordForm" *ngIf="!stepOne && !stepTwo && stepThree">
        <!-- <form [formGroup]="changePasswordForm"> -->
          <div class="form-group">
            <!-- <label>User Name</label> -->
            <input type="password" class="form-control" placeholder="Password" formControlName='password'
              [ngClass]="{ 'is-invalid': (passwordConfirmVerify || changePasswordForm.get('password').touched) && cp.password.errors }">
            <div *ngIf="passwordConfirmVerify &&  changePasswordForm.get('password').error|| passwordConfirmVerify &&  changePasswordForm.get('password').touched"
              class="invalid-feedback">
              <div *ngIf=" passwordConfirmVerify &&  changePasswordForm.get('password').touched">password is required</div>
            </div>
          </div>
          <div class="form-group">
            <!-- <label>User Name</label> -->
            <input type="password" class="form-control" placeholder="Confirm Password" (keyup)="comparePassword($event.target.value)" formControlName='confirmPassword'
              [ngClass]="{ 'is-invalid': (passwordConfirmVerify || changePasswordForm.get('confirmPassword').touched) && cp.confirmPassword.errors }">
            <div *ngIf="passwordConfirmVerify &&  changePasswordForm.get('confirmPassword').error|| passwordConfirmVerify &&  changePasswordForm.get('confirmPassword').touched"
              class="invalid-feedback">
              <div *ngIf=" passwordConfirmVerify &&  changePasswordForm.get('confirmPassword').touched">Confirm password is required</div>
            </div>
            <div *ngIf="!passwordMatch" class="password">password and confirm password should be same</div>
          </div>
          <button [disabled]="verifyDisable" routerLink='/cs-portal' class="btn btn-bamul float-left" type="submit"
            (click)="changePassword($event.target.value)">Confirm</button>
            <button type="submit" (click)='redirectTo("login")' class="btn btn-secondary pull-right">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
