<h1 class="page-header">Create Key-Log</h1>
<div class="row d-flex-align-center">
  <div class="col-xs-8 pr-10 d-flex">
    <div class="placeholder mt-0 pd-10 d-flex-align-center flex1-space">
      <address>
        <span>Location <br /><strong>Annkel Chilling Center</strong></span>
      </address>
      <div class="shift text-center">
        <span>Shift</span>
        <strong>Morning</strong>
      </div>
    </div>
  </div>
  <!-- <div class="col-xs-2 pl-0">
    <div class="placeholder mt-0 pd-10">
      <div class="form-group mb-0">
        <label>Department</label>
        <select class="form-control">
          <option value="1">Systems</option>
          <option value="2">Finance</option>
          <option value="3">CallDesk</option>
        </select>
      </div>
    </div>
  </div> -->
  <div class="col-xs-2 pl-0">
    <div class="placeholder mt-0 pd-10">
      <address>
        <p class="receipt-details">
          <span class="flex1-space">Date : <strong>
              <app-date></app-date>
            </strong></span>

        </p>
        <p class="receipt-details">
          <span class="flex1-space">Time : <strong>
              <app-clock></app-clock>
            </strong>
          </span>

        </p>
      </address>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="placeholder mt-10 clearfix">
      <div class="form-row mt-10">

        <div class="form-group col-md-5">
          <label>KeyLog No</label>
          <input type="text" class="form-control input-bl" value="Keylog No.">
        </div>

        <div class="form-group col-md-2">
          <label>Number of Keys</label>
          <input type="text" class="form-control input-bl" value="12">
        </div>
        <div class="form-group col-md-2">
          <label>Assigned Department</label>
          <select class="form-control">
            <option value="1">Systems</option>
            <option value="2">Finance</option>
            <option value="3">CallDesk</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label>Status</label>
          <input type="text" class="form-control text-success input-bl" value="In Stock">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="placeholder pd-10 mt-10">
      <label>Remarks</label>
      <textarea class="form-control input-bl" placeholder="Remarks"></textarea>
    </div>
  </div>

</div>
<div class="clearfix mt-10">
  <button type="button" class="btn btn-secondary pull-left cancel-button">Cancel</button>
  <button type="button" (click)="nextCollectionData(f)" class="btn btn-bamul pull-right">Save & Next</button>
  <button type="button" (click)="postCollectionData(f)" class="btn btn-bamul pull-right mr-10">Save</button>
</div>
