 <h1 class="page-header">List Special Indents</h1>
 <div class="row">
   <div class="col-xs-12 col-sm-12">
     <div class="placeholder pt-20 mt-0">
       <div class="table-responsive">
         <table class="table table-striped v-middle">
           <thead>
             <tr>
               <th>Indent No.</th>
               <th>Order No.</th>
               <th>Customer Name</th>
               <th>Contact No.</th>
               <th class='text-center'>Amount</th>
               <th class='text-center'>Status</th>
               <th class='text-center'>Receipt Action</th>
               <th class='text-center'>Update Indent</th>
               <th class='text-center'>View Indent</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>#IND-2010</td>
               <td>___</td>
               <td>Sanjeet Patel</td>
               <td>9898993889</td>
               <td class='text-center'>4560/-</td>
               <td class='text-center'>New</td>
               <td class='text-center'><button type="button" class="btn-sm btn-success no-border">Create</button></td>
               <td class='text-center'><button type="button" class="btn-sm btn-warning no-border">Update</button></td>
               <td class='text-center'><button type="button" class="btn-sm btn-info no-border">View</button></td>
             </tr>
             <tr>
               <td>#IND-6710</td>
               <td>___</td>
               <td>BediLal Magallal</td>
               <td>9898993889</td>
               <td class='text-center'>3456/-</td>
               <td class='text-center'>Confirmed</td>
               <td class='text-center'><button type="button" class="btn-sm btn-success no-border">Create</button></td>
               <td class='text-center'><button type="button" class="btn-sm btn-warning no-border">Update</button></td>
               <td class='text-center'><button type="button" class="btn-sm btn-info no-border">View</button></td>
             </tr>
             <tr>
               <td>#IND-34010</td>
               <td>#ORD-200130</td>
               <td>Sanjeet Patel</td>
               <td>9898993889</td>
               <td class='text-center'>4560/-</td>
               <td class='text-center'>Imported</td>
               <td class='text-center'><button type="button" class="btn-sm btn-info no-border">View</button></td>
               <td class='text-center'></td>
               <td class='text-center'><button type="button" class="btn-sm btn-info no-border">View</button></td>
             </tr>

           </tbody>
         </table>
       </div>
     </div>
   </div>
 </div>
