<div id='customer' class="main-wrapper" (MenuState)="toogleMenu($event)" [ngClass]="view ? 'show-menu' : 'hide-menu'">
    <app-header></app-header>
    <div class="mobile-header">
        <span (click)='toogleMenu()' class="main-menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        <span class="brand-menu-icon"><a href="javascript:void(0)"><img class="brand-logo topbar-logo"
            src="../../../assets/img/logo.png"></a></span>
        <span class="profile-menu-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
    </div>
    <div class="dashboard-page container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="dashboard-main">
                    <router-outlet></router-outlet>
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>
    <ng4-loading-spinner> </ng4-loading-spinner>
    <!--  -->
</div>