.cards {
    background: #fff;
    padding: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #e2e2e2;
  }
  
  h5.card-title {
    font-size: 14px;
    color: #a1a1a1;
    margin: 0;
  }
  
  span.card-value {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
  }
  
  .placeholder {
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 5px #e2e2e2;
    display: table;
    width: 100%;
  }
  
  
  .lh-30 {
    line-height: 30px;
  }
  
  .table-responsive {
    padding: 0px 20px;
  }
  
  .f09 {
    font-size: 0.9em
  }
  
  .mt-0 {
    margin-top: 0;
  }
  
  .mr-0 {
    margin: 0;
  }
  
  .mr-10 {
    margin: 20px;
  }
  
  .pt-10 {
    padding-top: 5px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  
  .pb-10 {
    padding-bottom: 5px;
  }
  
  .pr-40 {
    padding-right: 23px;
  }
  
  .pl-0 {
    padding-left: 0;
  }
  
  .mb-22 {
    margin-bottom: 22px;
  }
  
  .pl-20 {
    padding-left: 10px;
  }
  
  thead {
    background: #f0f0f7a8;
    border: 0;
  }
  
  thead th {
    border: 0 !important;
    color: #a1a1a1;
  }
  
  table.table {
    font-size: 12px;
  }
  
  .form-group {
    display: flex;
    align-content: center;
    align-items: center;
  
  }
  
  
  
  .flex input[type=checkbox],
  .flex input[type=radio] {
    margin: 0;
  }
  
  .flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .schduleweek {
    margin-left: 5px;
  }
  
  .flex.schduleweek>li {
    display: flex;
    align-items: center;
    align-content: center;
    padding-right: 15px;
  }
  
  .flex.schduleweek input[type='checkbox'] {
    margin-top: 0px;
    margin-right: 5px;
  }
  
  
  .schduleweek input[type="checkbox"]:checked,
  .schduleweek input[type="checkbox"]:checked+label {
    background: #0099de;
    color: #fff;
    border-radius: 4px;
  }
  
  .schduleweek label {
    margin-left: -24px;
    padding: 5px 15px 5px 23px;
    z-index: 2;
    position: relative;
    top: 2px;
    font-weight: normal;
    cursor: pointer;
  }
  
  
  .schduleweek input[type='checkbox'] {
    position: relative;
    z-index: 3;
  }
  
  .remove-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
  }
  
  .btn-secondary {
    background-color: #bd5d5a;
    color: white;
  }
  
  h1.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .mb-22 {
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  h2.sub-header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
  }
  
  .pl-10 {
    padding-left: 10px !important;
  }
  
  .placeholder {
    margin-top: 5px;
  }
  
  .customer-header-info label {
    white-space: nowrap;
    padding-right: 20px;
    margin-bottom: 0;
    width: 40%;
  }
  
  .customer-header-info input[type='text'],
  .customer-header-info select,
  .customer-header-info input[type='number'] {
    width: 60%;
  }
  
  @media(max-width:767px) {
    h1.page-header {
      font-size: 18px;
    }
  
    h2.sub-header {
      font-size: 16px !important;
      padding: 10px !important;
      margin-bottom: 15px !important;
      border-bottom: 1px dashed #ccc;
    }
  
    .form-group {
      padding: 0 10px;
    }
  
    .address {
      display: flex;
      width: 100%;
    }
  
    .address strong {
      white-space: nowrap;
      text-align: left;
    }
  
    .address span {
      text-align: right;
      padding-right: 10px;
      width: 100%;
    }
  
    .schduleweek {
      margin-top: 5px !important;
      margin-left: 0 !important;
    }
  
    .schduleweek li {
      padding-left: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .flex>input[type=checkbox] {
      margin-right: 10px !important;
    }
  
    .table-responsive thead {
      display: none;
    }
  
    .table-responsive tbody tr {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  
    .table-responsive tbody tr td:before {
      content: attr(data-title);
      display: block;
    }
  
    .table-responsive td button {
      float: right;
      top: 20px;
      position: relative;
    }
  
    .table-responsive {
      border: 0
    }
  
    .table-responsive tbody tr td {
      padding: 0 5px;
      text-align: left !important;
      border: none;
      height: 60px;
    }
  
    .counter span {
      line-height: 60px;
      text-align: center;
      padding: 3px 10px;
      background: #2196F3;
      border-radius: 8px;
      font-size: 16px;
      width: 30px;
      display: inline;
      color: #f2f2f2;
      border: 1px solid #2b86cf;
    }
  }
  
  .pull-left{
    position: relative;
    left: 60px;
  }
  .pull-right{
    position: relative;
    right: 60px
  
  }
  .form-control {
    display: revert;}
    .accountNumber{
      border-radius: 4px;
      margin-right: 10px;
      background-color: #eee;
      color: #555;
 
      background-image: none;
      border: 2px solid #ccc;
      /* border-radius: 4px; */
      /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
      border-radius: 3px;
    }
    .back-btn{
      position: relative;
    top: 19px;
    left: 8px;
}
    