<div class="container">
  <h1 class="page-header">Add A New User</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="placeholder mt-10 clearfix">
        <div class="form-row clearfix mt-10">

          <div class="form-group col-md-3">
            <label>User Type</label>
            <select class="form-control">
              <option>Employee</option>
              <option>Customer</option>

            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Department</label>
            <select class="form-control">
              <!-- Employeed Department -->
              <option>Sales</option>
              <option>Finance</option>
              <option>Operations</option>
              <option>Transport</option>
              <option>Security</option>

              <!-- Customer Department -->
              <option>Society</option>
              <option>Chilling Center</option>
              <option>BMC</option>
              <option>Material Supply</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>User Role</label>
            <select class="form-control">
              <!-- Employeed Department -->
              <option>Super Admin</option>

              <!-- Sales Department -->
              <option>Admin Sales</option>
              <option>Sales Operator</option>
              <option>Call Desk Sales Operator</option>
              <option>Counter Sales Operator</option>

              <!-- Finance Department -->
              <option>Admin Finance</option>
              <option>Finance Operator</option>

              <!-- Operation Department -->
              <option>Admin Operations</option>
              <option>Weihing Bridge Operator</option>
              <option>RMRD Operator</option>
              <option>RMRD Manager</option>
              <option>Lab Operator</option>
              <option>Lab Manager</option>
              <option>Dispatch Manager</option>
              <option>Dispatch Operator</option>
              <option>Security Operator</option>
              <option>Security Namager</option>

              <!-- Transport Department -->
              <option>Admin Transport</option>
              <option>Transport Operator</option>
              <option>Transport Manager</option>
              <option>Driver</option>

              <!-- Customer Department -->

              <!-- Society Department -->
              <option>MPCS Manager</option>
              <option>MPCS Operator</option>

              <!-- BMC Department -->
              <option>BMC Manager</option>
              <option>BMC Operator</option>

              <!-- Chilling Center Department -->
              <option>CC Manager</option>
              <option>CC Operator</option>
              <option>CC Security Operator</option>

              <!-- Matrial Supply q Department -->
              <option>Supply Manager</option>
              <option>Supply Operator</option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label>Status</label>
            <select class="form-control">
              <option>Draft</option>
              <option>Active</option>
              <option>Inactive</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>User Name</label>
            <input type="text" class="form-control input-bl">
          </div>
          <div class="form-group col-md-4">
            <label>Password</label>
            <input type="text" class="form-control input-bl">
          </div>
          <div class="form-group col-md-4">
            <label>Confirm Password</label>
            <input type="text" class="form-control input-bl">
          </div>
          <div class="form-group col-md-4">
            <label>Employee Name</label>
            <input type="text" class="form-control input-bl">
          </div>
          <div class="form-group col-md-4">
            <label>Email</label>
            <input type="text" class="form-control input-bl">
          </div>
          <div class="form-group col-md-4">
            <label>Mobile No.</label>
            <input type="text" class="form-control input-bl">
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Working Location</label>
          <select class="form-control">
            <option>Bamul Dairy</option>
            <option>Bamul CC</option>
            <option>Bamiul CampOffice</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Correspondence Address</label>
          <input type="text" class="form-control input-bl">
        </div>
        <div class="form-group col-md-4">
          <label>Alternate Contact Number</label>
          <input type="text" class="form-control input-bl">
        </div>

      </div>
      <div class="clearfix mt-10">
        <button type="button" class="btn btn-secondary pull-right ml-10">Cancel</button>
        <button type="button" class="btn btn-bamul pull-right mr-20">Save</button>
      </div>
    </div>

  </div>





















  <!-- table rows-->
  <div class="row">
    <div class="col-md-12">
      <div class="placeholder pd-10 mt-10">
        <div class="table-responsive">
          <table class="table table-condensed table-striped">
            <thead class="v-center">
              <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th class="text-center">Type</th>
                <th class="text-center">Department</th>
                <th class="text-center">Role</th>
                <th class="text-center">Email</th>
                <th class="text-center">Contact No.</th>
                <th class="text-center">Location</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
              </tr>
              <tr class="sub-head">
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>202250</td>
                <td>Vishnu Prasad</td>
                <td class="text-center">Employee</td>
                <td class="text-center">Operation</td>
                <td class="text-center">Manager</td>
                <td class="text-center">vishnu.sirki@yash.com</td>
                <td class="text-center">8888888888</td>
                <td class="text-center">2201 - Bamul Dairy</td>
                <td class="text-center"><b class="text-success">Active</b></td>
                <td><strong><i class="fa fa-edit"></i> Update</strong></td>
              </tr>
              <tr>
                <td>2345332</td>
                <td>Annekal Charan</td>
                <td class="text-center">Customer</td>
                <td class="text-center">Society</td>
                <td class="text-center">Manager</td>
                <td class="text-center">Society@gmail.com</td>
                <td class="text-center">9876553783</td>
                <td class="text-center">Annekal Society</td>
                <td class="text-center"><b class="text-success">Active</b></td>
                <td><strong><i class="fa fa-edit"></i> Update</strong></td>
              </tr>
              <tr>
                <td>3246534</td>
                <td>Mayank Pratap</td>
                <td class="text-center">Employee</td>
                <td class="text-center">Security</td>
                <td class="text-center">Operator</td>
                <td class="text-center">Mayank.Pratap@yash.com</td>
                <td class="text-center">987766290</td>
                <td class="text-center">Bamul Dairy</td>
                <td class="text-center"><b class="text-warning">Draft</b></td>
                <td><strong><i class="fa fa-edit"></i> Update</strong></td>
              </tr>
              <tr>
                <td>232344</td>
                <td>Anurag Chandra</td>
                <td class="text-center">Employee</td>
                <td class="text-center">Operation</td>
                <td class="text-center">RMRD Operator</td>
                <td class="text-center">Anurga.chandra@yash.com</td>
                <td class="text-center">934653453</td>
                <td class="text-center">2201 - Bamul Dairy</td>
                <td class="text-center"><b class="text-Danger">Inactive</b></td>
                <td><strong><i class="fa fa-edit"></i> Update</strong></td>
              </tr>
              <tr>
                <td>202250</td>
                <td>Vishnu Prasad</td>
                <td class="text-center">Employee</td>
                <td class="text-center">Operation</td>
                <td class="text-center">Manager</td>
                <td class="text-center">vishnu.sirki@yash.com</td>
                <td class="text-center">8888888888</td>
                <td class="text-center">2201 - Bamul Dairy</td>
                <td class="text-center"><b class="text-success">Active</b></td>
                <td><strong><i class="fa fa-edit"></i> Update</strong></td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix mt-10">

  </div>
</div>
