<div class="row">
    <div class="col-md-12">
        <h3 class="">Customer Details</h3>
    </div>

</div>


<div class="row">
    <div class="col-md-12">
        <div class="placeholder pd-5">
            <div class="row flex flex-center">
                <div class="col-md-3 flex-child flex-col flex-left">
                    <strong>Customer Name</strong><br />
                    <input [value]="'Shrinath'" disabled name='orderID' id='orderID' tabIndex="0" value="" type="text" maxlength="6" class="form-control input-sm" id="customerNumberSel" />
                    <!-- (change)="getCustomerDetails($event);" -->
                </div>
                <div class="col-md-3 flex-child flex-col flex-left">
                    <strong>Customer No</strong><br />
                    <input disabled [value]="'12345'" name='orderID' id='orderID' tabIndex="0" value="" type="text" maxlength="6" class="form-control input-sm" id="customerNumberSel" />
                    <!-- (change)="getCustomerDetails($event);" -->
                </div>
                <div class="col-md-3 flex-child flex-col flex-left">
                    <strong>Customer Type</strong><br />
                    <input disabled [value]="'Type B'" name='orderID' id='orderID' tabIndex="0" value="" type="text" maxlength="6" class="form-control input-sm" id="customerNumberSel" />
                    <!-- (change)="getCustomerDetails($event);" -->
                </div>

            </div>


        </div>
    </div>

    <div class="col-md-12">
        <div class="placeholder pd-5">
            <div class="row flex flex-center">
                <div class="col-md-3 flex-child flex-col flex-left">
                    <strong>Recharge Amount</strong><br />
                    <input name='orderID' id='orderID' tabIndex="0" value="" type="number" maxlength="6" class="form-control input-sm" id="customerNumberSel" />
                    <!-- (change)="getCustomerDetails($event);" -->
                </div>
                <div class="col-md-2 flex-child flex-col flex-left">
                    <button type="button" class="btn-sm btn-success mt-20">Recharge</button>
                </div>


            </div>


        </div>
    </div>
</div>