<h1 class="page-header">BMC Dispatch Form</h1>
<div class="row">
    <div class="col-xs-10 pr-10">
        <div class="shift text-center d-none">
            <span>Shift</span>
            <strong *ngIf="currHour < 14">Morning</strong>
            <strong *ngIf="currHour >= 14">Evening</strong>
        </div>
        <div class="placeholder mt-0 pd-10">
            <address>
         <span>BMC Name : <strong>{{UserData.supplierName}}</strong></span>
         <!-- <p>
           Address : <strong>{{UserData.address}}</strong>
         </p> -->
       </address>
        </div>
    </div>
    <!-- <div class="col-xs-3 pl-0">
        <div class="shift text-center">
            <span>Shift</span>
            <strong *ngIf="currHour < 14">Morning</strong>
            <strong *ngIf="currHour >= 14">Evening</strong>
        </div>
        <div class="placeholder mt-0 pd-10">
            <address>
       <p class="receipt-details">
         
           <span class="flex1-space">Receipt Status <strong>
            -
          </strong></span>
       </p>
       <p class="receipt-details">
         
         <span class="flex1-space"> Status : <strong>
          New
        </strong></span>
        </p>
     </address>
        </div>
    </div> -->
    <div class="col-xs-2 pl-0">
        <div class="placeholder mt-0 pd-10">
            <address>
         <p>
           <span>Date : <strong>
               <app-date></app-date>
             </strong></span>
         </p>
         <!-- <p><span>Time : </span><strong>
             <app-clock></app-clock>
           </strong></p> -->
       </address>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="placeholder pd-10 mt-10">
            <form>
                <div class='row'>
                    <div class="col-md-12">
                        <form class="mt-10 py-15 clearfix">
                            <div class="form-row mt-10">
                                <div class="form-group col-md-2">
                                    <label>Dispatch Location</label>
                                    <input disabled name="vehicleNumber" [(ngModel)]="dispatchlocation" type="text" class="form-control input-bl" placeholder="Dispatch location">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Route No</label>
                                    <input disabled name="routeno" value="{{routePoints && routePoints[0] ? routePoints[0].routeNumber : ''}}" type="text" class="form-control input-bl" placeholder="Route No">
                                </div>
                                <!-- <div class="form-group col-md-2">
                                    <label>Route No</label>
                                    <select (change)="routeonChange($event.target.value)" class="form-control">
                                        <option [selected]="routePoint==null" value="">Select Route</option>
                                        <option  *ngFor="let routepoint of routePoints" value="{{routepoint.routeNumber}}">{{routepoint.routeNumber}}</option>
                                       
                                </select>
                            </div> -->
                                <div class="form-group col-md-2">
                                    <label>Vehicle Number</label>
                                    <input disabled name="vehicleNumber" [(ngModel)]="vehicleNumber" [ngModelOptions]="{standalone: true}" type="text" class="form-control input-bl" placeholder="Vehicle Number">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Driver Name</label>
                                    <input disabled name="driverName" [(ngModel)]="driverName" [ngModelOptions]="{standalone: true}" type="text" class="form-control input-bl" placeholder="Driver Name">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Arrival Time</label>
                                    <input disabled name="arrivalTime" [(ngModel)]="arrivalTime" [ngModelOptions]="{standalone: true}" type="text" class="form-control input-bl" placeholder="Arrival Time">
                                </div>
                                <div class="form-group col-md-2" style="display:grid;">
                                    <label>Dispatch Time</label>
                                    <app-clock></app-clock>
                                    <!-- <input type="text" class="form-control input-bl" placeholder="Dispatch Time"> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form [formGroup]="CreateIndentLineItem" novalidate #f="ngForm" novalidate>
            <div class="placeholder pd-10 mt-10">
                <div class=" pd-10 mt-10">
                    <div class="clearfix">
                        <button class="btn btn-bamul pull-right mb-10" (click)="addNewRow()">Add More</button>
                    </div>
                </div>
                <table class="table inwards" formArrayName="newIndtLItem">
                    <thead class="v-center">
                        <tr>
                            <th width="80px">Receipt Number</th>
                            <th width="80px">Society Code.</th>
                            <th width="145px">Society Name</th>
                            <th width="80px" class="text-center">Date</th>
                            <th width="60px" class="text-center">Shift</th>
                            <!-- <th width="60px" class="text-center">cans</th> -->
                            <th width="80px" class="text-center">QTY (Kg)</th>
                            <th width="60px" class="text-center">CLR</th>
                            <th width="60px" class="text-center">FAT %</th>
                            <th width="60px" class="text-center">SNF %</th>
                            <th width="60px" class="text-center">Remarks</th>
                            <th width="35px" class="text-center"></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let field  of  CreateIndentLineItem.controls.newIndtLItem.controls;let in=index" [formGroupName]="in">
                            <td>
                                <input readonly formControlName='receiptNum' type="text" class="form-control input-bl" placeholder="Rec No" />
                            </td>
                            <td>
                                <input disabled formControlName="vendorNum" type="text" class="form-control input-bl" placeholder="Soc No." />
                            </td>
                            <td>
                                <select [ngClass]="societyNumber === null ? 'invalid' : 'valid'" (change)="onChange($event.target.value ,CreateIndentLineItem.controls.newIndtLItem.controls,in)" class="form-control">
                                    <option [selected]="societyNumber==''" value="">Select Society</option>
                                    <ng-container *ngIf="this.routeNosocietylogs && this.routeNosocietylogs[0]">
                                            <option  [selected]="societyNumber==society.vendorId" value="{{society.vendorId}}" *ngFor="let society of this.routeNosocietylogs">{{society.vendorName}}</option>
                                    </ng-container>
                                    </select>
                                <div *ngIf="submitted && societyNumber === null" class="invalid-feedback">
                                    <div *ngIf="societyNumber === null" style='color:red'>Required </div>
                                </div>
                            </td>
                            <td>
                                <!-- <input formControlName='shippedDate' type="text" class="form-control input-bl date-field" bsDatepicker /> -->
                                <input type="text" formControlName="requestDate" placeholder="Date" class="form-control date-field" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" bsDatepicker>
                            </td>
                            <td>
                                <select formControlName='shift' class="form-control">
                                  <option value="M">M</option>
                                  <option value="E">E</option>
                                </select>
                            </td>
                            <!-- <td>
                                <input (focusout)="focusOutFunction(CreateIndentLineItem.controls.newIndtLItem.controls,in)" formControlName='numOfContainers' type="number" class="form-control input-bl" placeholder="Cans" />
                            </td> -->
                            <td>
                                <input min="0" (focusout)="focusOutFunction(CreateIndentLineItem.controls.newIndtLItem.controls,in)" formControlName='quantityShipped' type="number" class="form-control input-bl" placeholder="Qty in Kg" />
                            </td>
                            <td>
                                <input min="0" appTwoDigitDecimaNumber [allowedDecimal]="2" (focusout)="focusOutFunction(CreateIndentLineItem.controls.newIndtLItem.controls,in)" formControlName='avgClr' type="text" class="form-control input-bl" placeholder="CLR" />
                            </td>
                            <td>
                                <input min="0" appTwoDigitDecimaNumber [allowedDecimal]="1" (focusout)="focusOutFunction(CreateIndentLineItem.controls.newIndtLItem.controls,in)" formControlName='avgFat' type="text" class="form-control input-bl" placeholder="FAT %" />
                            </td>
                            <td>
                                <input min="0" disabled formControlName='avgSnf' type="number" class="form-control input-bl" placeholder="SNF %" />
                            </td>
                            <td>
                                <input formControlName='comments' type="text" class="form-control input-bl" placeholder="Remarks" />
                            </td>
                            <td class="text-center" [ngClass]="in === 0 ? 'disabled' : 'cursor-pointer'"><i (click)='deleteRow(in)' class="fa fa-trash" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="2">
                             
                            </th>
                            <th>
                               
                            </th>
                            <th>
                                
                            </th>
                            <th></th>
                            <th>
                                
                            </th>
                            <th></th>
                            <th></th>

                        </tr>
                    </tfoot> -->
                </table>
            </div>
            <div class="clearfix">
            </div>
        </form>
    </div>
</div>



<div class="row">

    <div class="col-md-12">
        <div class="placeholder pd-10 mt-10">
            <h4 class="col-md-12">Raw Milk Dispatch Details</h4>
            <div class='row'>
                <div class="col-md-12">
                    <div class="form-row mt-10">
                        <!-- <div class="form-group col-md-2">
                            <label>Loose Sale Qty</label>
                            <input type="number" class="form-control input-bl" placeholder="Qty in Kgs">
                        </div> -->
                        <div class="form-group col-md-3">
                            <label>Compartment Number</label>
                            <input type="number" [(ngModel)]="compartNumber" class="form-control input-bl" placeholder="Number">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Dispatch Qty (KGS)</label>
                            <input type="number" [(ngModel)]="totalQty" class="form-control input-bl" placeholder="Qty in Kgs">
                        </div>
                        <!-- <div class="form-group col-md-2">
                            <label>CLR %</label>
                            <input type="number" [(ngModel)]="avgClr" class="form-control input-bl" placeholder="CLR %">
                        </div> -->
                        <div class="form-group col-md-3">
                            <label>Avg FAT %</label>
                            <input type="number" [(ngModel)]="avgFat" class="form-control input-bl" placeholder="FAT %">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Avg SNF %</label>
                            <input type="number" [(ngModel)]="avgSnf" class="form-control input-bl" placeholder="SNF %">
                        </div>
                        <div class="form-group col-md-3">
                            <label>KG FAT</label>
                            <input type="number" [(ngModel)]="KgFat" class="form-control input-bl" placeholder="Fat In Kg">
                        </div>
                        <div class="form-group col-md-3">
                            <label>KG SNF</label>
                            <input type="number" [(ngModel)]="KgSnf" class="form-control input-bl" placeholder="Snf In Kg">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Dipstick Reading</label>
                            <input type="number" [(ngModel)]="dipstickreading" class="form-control input-bl" placeholder="Enter Reading">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Seal Number</label>
                            <input type="number" [(ngModel)]="sealnumber" class="form-control input-bl" placeholder="Enter No.">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Temperature</label>
                            <input type="number" [(ngModel)]="temperature" class="form-control input-bl" placeholder="Enter Value">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Acidity</label>
                            <input type="number" [(ngModel)]="acidity" class="form-control input-bl" placeholder="Enter Value">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Dispatch Qty (Ltr)</label>
                            <input type="number" [(ngModel)]="totalQtyLtr" class="form-control input-bl" placeholder="Qty in Ltr">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix mt-10">
    <button type="button" class="btn btn-secondary pull-left cancel-button">Cancel</button>
    <!-- <button type="button" [disabled]="routePoint==null" (click)="dispatch()" class="btn btn-bamul pull-right">Dispatch & Print</button> -->
    <button type="button" (click)="saveCollection();" class="btn btn-bamul pull-right mr-10">Save</button>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>