<h1 class="page-header">MPCS Milk Cans Confirmation</h1>
<div class="row">
    <div class="col-xs-8 pr-10">
        <div class="shift text-center">
            <span>Shift</span>
            <strong *ngIf="currHour < 14">Morning</strong>
            <strong *ngIf="currHour >= 14">Evening</strong>
        </div>
        <div class="placeholder mt-0 pd-10 d-flex-align-center flex1-space">
            <address>
             <span>Location <br/><strong>{{UserData.locationName}}</strong></span>
           </address>
        </div>
    </div>
    <div class="col-xs-4 pl-0">
        <div class="placeholder mt-0 pd-10">
            <address>
         <p>
           <span>Date : <strong>
               <app-date></app-date>
             </strong></span>
         </p>
         <p><span>Time : </span><strong>
             <app-clock></app-clock>
           </strong></p>
       </address>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="placeholder pd-10">
            <h4 class="col-md-12">Route Information</h4>
            <div class='row'>
                <div class="col-md-12">
                    <table class="table inwards">
                        <thead class="v-center">
                            <tr>
                                <th class="text-center">Route No</th>
                                <th class="text-center">Vehicle No</th>
                                <th class="text-center">Scheduled Start Time</th>
                                <th class="text-center">Scheduled End Time</th>
                                <th class="text-center">Number of Society</th>
                                <th class="text-center">Dispatched Cans</th>
                                <th class="text-center">Accepted Cans</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="text-center">

                                    <select (change)="routeonChange($event.target.value)" class="form-control">
                                                <option [selected]="routePoint==null" value="">Select Route</option>
                                 <option  *ngFor="let routepoint of routePoints" value="{{routepoint.routeNumber}}">{{routepoint.routeNumber}}</option>
                               </select>
                                </td>
                                <td class="text-center"><span *ngIf="routeNosocietylogs">{{routeNosocietylogs[0].vehicleNumber}}</span></td>
                                <td class="text-center"><span *ngIf="routeNosocietylogs">{{routeNosocietylogs[0].estimatedStartTime}}</span></td>
                                <td class="text-center"><span *ngIf="routeNosocietylogs">{{routeNosocietylogs[0].estimatedEndTime}}</span></td>
                                <td class="text-center"><span *ngIf="routeNosocietylogs">{{routeNosocietylogs[0].tripPoints.length}}</span></td>
                                <td class="text-center">

                                    <span>{{this.totalsentqtycans}}</span>
                                </td>
                                <td [ngClass]="{'warning': totalacceptedcans > totalsentqtycans || totalacceptedcans < totalsentqtycans, 'success': totalacceptedcans == totalsentqtycans }" class="text-center">
                                    <span>{{totalacceptedcans}}</span>

                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="placeholder pt-20 mt-10">
            <div class="table-responsive">

                <table *ngIf="routeNosocietylogs" class="table table-bordered table-striped v-middle">
                    <thead>
                        <tr>

                            <th width="100" class="text-center">Society Code</th>
                            <th class="">Society Name</th>
                            <th width="100" class="text-center">Dispatched Cans</th>
                            <th width="100" class=" text-center width80">Received/ Accepted cans</th>
                            <th class="">Remarks</th>
                            <!-- <th class='text-center'>Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let society of routeNosocietylogs[0].tripPoints'>
                            <td class="text-center">{{society.routePointCode}}</td>
                            <td class="text-left">{{society.routePointName}}</td>
                            <td class="text-center">{{society.actualQuantity}}</td>
                            <td class=' text-center'>
                                <input type="number" (focusout)="focusOutFunction()" [(ngModel)]="society.receivedQty " class="form-control ">
                            </td>
                            <td class="text-center ">
                                <input type="text" [(ngModel)]="society.remarks " class="form-control ">
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <button (click)="reset(); " type="button " class="btn btn-secondary pull-left cancel-button ">Cancel</button>
            <button (click)="updateTripData(routeNosocietylogs[0]) " class="btn-sm btn-success rec-btn ">Receive</button>
        </div>
    </div>
</div>