 <h1 class="page-header">View Assigned Vehicle Milk Transfer</h1>
 <div class="row">
   <div class="col-xs-8 pr-10">
     <div class="placeholder clearfix mt-0 pd-10">
       <div class="form-row mt-10">
         <div class="form-group col-md-3">
           <label>DC Number</label>
           <input type="text" class="form-control input-bl" Value="110708" readonly>
         </div>
         <div class="form-group col-md-3">
           <label>Vehicle Type</label>
           <select class="form-control">
             <option>select</option>
             <option>Tanker - 3 cilo</option>
             <option selected>Tanker - 2 cilo</option>
             <option>Tanker - 1 cilo</option>

           </select>
         </div>
         <div class="form-group col-md-3">
           <label>Vehicle Number</label>
           <select class="form-control">
             <option>select</option>
             <option selected>KA11-CA-0392</option>
             <option>KA11-TA-8765</option>
             <option>TN20-DM-6732</option>

           </select>
         </div>
         <div class="form-group col-md-3">
           <label>Status</label>
           <select class="form-control">
             <option>select</option>
             <option selected>Assigned</option>
             <option>In-Transit</option>
             <option>Completed</option>
           </select>
         </div>
         <!-- <div class="form-group col-md-4">
           <label>Status</label>
           <select class="form-control">
             <option>select</option>
             <option>New</option>
             <option>In Process</option>
             <option>In Transit</option>
             <option>Received</option>
             <option>Completed</option>
           </select>
         </div> -->
       </div>
     </div>
   </div>
   <div class="col-xs-4 pl-0">
     <div class="placeholder mt-0 pd-10">
       <address>
         <p class="pd-7">
           <span>Date : <strong>
               <app-date></app-date>
             </strong></span>
         </p>
         <p class="pd-10"><span>Time : </span><strong>
             <app-clock></app-clock>
           </strong></p>
       </address>
     </div>
   </div>
 </div>

 <!-- <div class="row">
   <div class="col-md-12">
     <div class="placeholder mt-10 clearfix">

     </div>
   </div>
 </div> -->
 <div class="row">
   <div class="col-md-12">
     <div class="placeholder mt-10 clearfix">
       <div class="form-row mt-10">

         <div class="form-group col-md-2">
           <label>Vehicle Capacity</label>
           <input type="text" class="form-control input-bl" Value="15000" disabled>
         </div>

         <div class="form-group col-md-2">
           <label>Vehicle Route</label>
           <input type="text" class="form-control input-bl" Value="RT-087" disabled>
         </div>
         <div class="form-group col-md-2">
           <label>Expected Amount to Pay</label>
           <input type="text" class="form-control input-bl" Value="14000">
         </div>
         <div class="form-group col-md-2">
           <label>Actial Amount to Pay</label>
           <input type="text" class="form-control input-bl" Value="15870">
         </div>
         <div class="form-group col-md-4">
           <label>Driver</label>
           <input type="text" class="form-control input-bl" Value="Amarnath Yadav">
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- <div class="row">
   <div class="col-md-12">
     <div class="placeholder mt-10 clearfix">
       <div class="form-row mt-10">

          <div class="form-group col-md-3">
           <label>FAT %</label>
           <input type="text" class="form-control input-bl" Value='4.2'>
         </div>
         <div class="form-group col-md-3">
           <label>SNF %</label>
           <input type="text" class="form-control input-bl" Value='5.2'>
         </div>
         <div class="form-group col-md-3">
           <label>CLR</label>
           <input type="text" class="form-control input-bl" Value='4.3'>
         </div>
       </div>
     </div>
   </div>
 </div> -->
 <div class="row">
   <div class="col-md-12">
     <div class="placeholder pd-10 mt-10 clearfix">
       <div class="form-group col-md-12">
         <label>Remarks</label>
         <textarea type="text" class="full-width form-control input-bl">Loaded with extra weight, extra payment required
         </textarea>
       </div>
     </div>
   </div>
 </div>
 <div class="clearfix mt-10">

 </div>
 <div class="clearfix mt-10">
   <button type="button" class="btn btn-secondary pull-left">Cancel</button>
   <button type="button" class="btn btn-bamul pull-right mr-10">Edit & Update</button>
 </div>
