<accordion class="dashboard-sidebar" [closeOthers]="true" isAnimated="true">
    <accordion-group heading="Lab" class="lab btn-icon">
        <ul>
            <li>
                <a routerLink="lab/list-samples" routerLinkActive="active">
                    <fa name="cog"></fa> List All Samples
                </a>
            </li>
            <!-- <li>
                <a routerLink="lab/lab-report" routerLinkActive="active">
                    <fa name="cog"></fa> Lab Report
                </a>
            </li> -->
        </ul>
    </accordion-group>
</accordion>