<accordion class="dashboard-sidebar" [closeOthers]="true" isAnimated="true">
    <accordion-group heading="Account" class="milk-collection btn-icon">
        <ul>
            <li>
                <a routerLink="customer-account" routerLinkActive="active">
                    <fa name="cog"></fa> Customer Account
                </a>
            </li>
            <!-- <li>
                <a routerLink="milk-receive/list-dispatch" routerLinkActive="active">
                    <fa name="cog"></fa> List Dispatch
                </a>
            </li> -->
        </ul>
    </accordion-group>
</accordion>