<!-- <h2 class="blink_me sub-header"><strong>Dispatch</strong> </h2> -->
<h1 class="page-header">Dispatch</h1>
<div class="row" *ngIf="dispatch; else notShow">
  <div class="col-xs-12 col-sm-12">
    <div class="placeholder pt-20 mt-0 mb-10">
      <h2 class="sub-header hidden">Reports</h2>
      <div class="table-responsive">
        <div class="form-row mt-10">
          <div class="form-group col-md-4">
            <label>Search</label>
            <input type="text" (keyup)="globalSearch($event.target.value)" class="form-control" placeholder="Search">
          </div>
          <div class="form-group col-md-4">
            <label>Date</label>
           
            <input type="text" placeholder="Start Date" class="form-control date-field" bsDatepicker
            [bsConfig]="datePickerConfig" [(ngModel)]='todayDate'      (ngModelChange)="dateChange();"
           >

          </div>
        </div>
      </div>
    </div>
    <div class="placeholder clearfix pt-20 mt-10">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Route Number</th>
              <th>Shift</th>
              <th>Shipping Date</th>
              <th>Total Crates</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of routeLst   
            | LockFilter: search   ; let i=index;">
              <td><a (click)='redirectTo(i)'>{{i.routeNo}}</a></td>
              <td>{{i.shift}}</td>
              <td>{{i.reportDate}}</td>
              <td>{{i.totalCrates}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #notShow>
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="placeholder mt-10 clearfix">
          <div class="form-row mt-12">
            <div class="form-group col-md-3">
              <label>Route No</label>
              <input type="text" class="form-control input-bl" value="{{  routesheetList.routeNo}}" readonly>
            </div>
            <div class="form-group col-md-3">
              <label>Shift</label>
              <input type="text" class="form-control input-bl" value="{{ routesheetList.shift}}" readonly>
            </div>
            <div class="form-group col-md-3">
              <label>Date</label>
              <input type="text" class="form-control input-bl" value="{{ routesheetList.reportDate}}" readonly>
            </div>
            <div class="form-group col-md-3">
              <label>Total Crates</label>
              <input type="text" class="form-control input-bl" value="{{ routesheetList.totalCrates}}" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-12" style="margin-top: 10px;">
        <div class="placeholder clearfix pt-20 mt-0 mb-10">
          <h2 class="sub-header hidden">Reports</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Products</th>
                  <th>Quantity</th>
                  <th>UOM</th>
                  <th>Full Crates</th>
                  <th>Extra Packets</th>
                  <th>Partial Crates</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i  of routesheetList.routeSheetLine let in =index">
                  <td>{{i.item}}</td>
                  <td>{{i.quantity}}</td>
                  <td>{{i.uom}}</td>
                  <td>{{i.fullCrates}}</td>
                  <td>{{i.extraCrates}}</td>
                  <td>{{i.parCrates}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="placeholder clearfix pt-20 mt-0 mb-10">
          <div class="form-row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Remarks</label>
                <textarea class="form-control" name="dispRemark" [(ngModel)]="dispRemark"
                  id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="clearfix mt-10">
      <ng-template #DeleteConfirm>
        <div class="modal-body text-center">
          <h4>Do you want to confirm Dispatch?</h4>
          <br />
          <div class="clearfix">
            <button type="button" class="btn btn-primary pull-yes" (click)="confirm(in,field)">Yes</button>
            <button type="button" class="btn btn-default pull-no" (click)="decline()">No</button>
          </div>
        </div>
      </ng-template>
      <!-- <button type="button" class="btn btn-bamul" (click)="openModal(DeleteConfirm,in,field)"> Dispatch
        Confirm</button> -->
        <div class="clearfix mt-10 pd-10">
          <button class="btn btn-bamul pull-left"  (click)='navigateBack()'>Back</button>
          <button type="button" class="btn btn-bamul pull-right" (click)="openModal(DeleteConfirm,in,field)"> Dispatch
            </button>
          <!-- <button class="btn btn-bamul pull-right"  (click)='dispatch()'>Dispatch</button> -->
        </div>
    </div>
  </form>
</ng-template>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
