<accordion class="dashboard-sidebar" [closeOthers]="true" isAnimated="true">
    <accordion-group heading="P & I Sales" class="milk-collection btn-icon">
        <ul>
            <li>
                <a routerLink="sales-order/cs/counter-sales" routerLinkActive="active">
                    <fa name="cog"></fa> Counter Sale
                </a>
            </li>
            <li>
                <a routerLink="sales-order/cs/p&i-indent" routerLinkActive="active">
                    <fa name="cog"></fa> Create Indent
                </a>
            </li>

        </ul>
    </accordion-group>
</accordion>