 <h1 class="page-header">Challan</h1>


 <div class="row mt-10">
   <div class="col-md-4">
     <div class="placeholder pd-10 mt-0">
       <p class="mb-0">Customer: <Strong>Mr. Brijmoan Shukla</Strong></p>
       <address>1235, New Colony, J.P. Nagar, Near mEdhavi Colony, Mini Forest, <br />Pin: 810093, Bengalore<br />
         Karnataka</address>
     </div>
   </div>
   <div class="col-md-4">
     <div class="placeholder pd-10 mt-0">
       <p>Challan No: <Strong>#CHN-122002</Strong></p>
       <p>Total Amount: <Strong>4500/- INR</Strong></p>
       <p>Refernce No. <Strong>_________________________</Strong></p>
       <p>Seal & Sign. <Strong>____________________________</Strong></p>

     </div>
   </div>
   <div class="col-md-4">
     <div class="placeholder pd-10 mt-0">
       <p>Indent No: <Strong>#SIO-4590289</Strong></p>
       <p>Date : <Strong>12 Jan 2020</Strong></p>
       <p>Time : <Strong> 04:30 PM</Strong></p>
       <p>Accepted Date & Time : <Strong>______________________</Strong></p>
     </div>
   </div>
 </div>
 <div class="clearfix mt-10">
   <button (click)='redirectTo("special-indent")' type="button" class="btn btn-warning pull-left mr-10">Back</button>
   <button (click)='printMe()' class="btn btn-bamul pull-right mt-10">Print & Close</button>
 </div>
