<div class="dashboard-sidebar">
    <div class='sidebar-menu'>
        <ul class="list-unstyled">
            <li routerLinkActive="active">
                <a routerLink="create-dispatch">
                    <fa name="cog"></fa> Create Dispatch
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="list-dispatch">
                    <fa name="cog"></fa> List Dispatch
                </a>
            </li>
            <!-- <li routerLinkActive="active">
                <a routerLink="contact">
                    <fa name="cog"></fa> See Contact Details
                </a>
            </li> -->
        </ul>
    </div>
</div>